@charset "UTF-8";
/* mixin setting */
/* mixin setting end */
html, body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; }

b, strong, .bold {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif; }

a {
  color: #fff;
  text-decoration: none; }

header {
  height: 100px;
  padding: 20px 0;
  background: url("https://aliving.net/image/header-logo.png");
  background-size: 650px;
  background-repeat: no-repeat;
  background-position: center center; }

section {
  padding: 2% 5% 5%; }

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 2; }
  h1 span {
    font-size: 14px;
    display: block; }

p {
  max-width: 1000px;
  margin: 0 auto; }

.date {
  background: #333333;
  padding: 10px 40px;
  border: 1px solid;
  margin-bottom: 30px;
  max-width: 280px;
  text-align: center; }
  .date span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; }

.fin {
  padding: 30px 40px;
  border: 1px solid #fff;
  width: 100%;
  max-width: 920px;
  text-align: center;
  margin: 0 auto; }

.video {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

footer {
  text-align: center;
  font-size: 10px;
  padding: 10px 0; }

@media screen and (max-width: 767px) {
  /* iOSでのデフォルトスタイルをリセット */
  input[type="submit"],
  input[type="button"],
  input[type="date"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    -moz-appearance: button;
         appearance: button;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    input[type="submit"]::-webkit-search-decoration,
    input[type="button"]::-webkit-search-decoration,
    input[type="date"]::-webkit-search-decoration {
      display: none; }
    input[type="submit"]::focus,
    input[type="button"]::focus,
    input[type="date"]::focus {
      outline-offset: -2px; }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; }

  header {
    background-size: 100%;
    padding: 0;
    height: 80px; }

  h1 {
    font-size: 1.2em; }

  p {
    font-size: 0.75em; }

  .video video {
    width: 100%; }

  .fin {
    width: calc(100% - 80px); } }

/*# sourceMappingURL=style.css.map */